<div class="navbar navbar-default" role="navigation">
  <button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target=".primary .navbar-collapse">
    <span class="text">Menu</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <nav class="collapse collapsing navbar-collapse">
    <ul class="nav navbar-nav navbar-center">
      <li class="parent megamenu">
        <a href="@Url.Action("VpsPage", "Home")">VPS</a>
        <ul class="sub">
          <li class="sub-wrapper">
            <div class="sub-list">
              <div class="box closed">
                <h6 class="title">Virtual Private Server</h6>
                <ul>
                  <li>
                    @Html.ActionLink("VPS - Windows", "VirtualPrivateServer", "Service", new { serviceType = "Windows" }, null)
                  </li>
                  <li>
                    @Html.ActionLink("VPS - Linux", "VirtualPrivateServer", "Service", new { serviceType = "Linux" }, null)
                  </li>
                  <li>
                    @Html.ActionLink("VPS - Mini ", "VirtualPrivateServer", "Service", new { serviceType = "Mini" }, null)
                  </li>
                </ul>
              </div><!-- .box -->

              <div class="box closed">
                <h6 class="title">Cloud Hosting</h6>
                <ul>
                  <li>
                    @Html.ActionLink("Cloud Linux Hosting", "Hosting", "Service", new { serviceType = "Linux" }, null)
                  </li>
                  <li>
                    @Html.ActionLink("Cloud Wordpress Hosting", "Hosting", "Service", new { serviceType = "Wordpress" }, null)
                  </li>
                  <li>
                    @Html.ActionLink("Cloud Windows Hosting", "Hosting", "Service", new { serviceType = "Windows" }, null)
                  </li>
                </ul>
              </div><!-- .box -->

              <div class="box closed">
                <h6 class="title">Cloud Server</h6>
                <ul>
                  <li>
                    @Html.ActionLink("Cloud Server Linux", "VirtualPrivateServer", "Service", new { serviceType = "Linux" }, null)
                  </li>
                  <li>
                    @Html.ActionLink("Cloud Server Window", "VirtualPrivateServer", "Service", new { serviceType = "Windows" }, null)
                  </li>
                  <li>
                    @Html.ActionLink("Dịch vụ Quản trị máy chủ", "VirtualPrivateServer", "Service", new { serviceType = "ManageServer" }, null)
                  </li>
                </ul>
              </div><!-- .box -->

              <div class="box closed">
                <h6 class="title">Bảo mật website</h6>
                <ul>
                  <li>
                    @Html.ActionLink("GeoTrus", "SecureSocketsLayer", "Service", new { providerName = "GeoTrus" }, null)
                  </li>
                  <li>
                    @Html.ActionLink("Comodo SSL", "SecureSocketsLayer", "Service", new { providerName = "Comodo" }, null)
                  </li>
                  <li>
                    @Html.ActionLink("Symantec SSL", "SecureSocketsLayer", "Service", new { providerName = "Symantec" }, null)
                  </li>
                </ul>
              </div><!-- .box -->
            </div><!-- .sub-list -->

            <div class="promo-block text-right">
              <img src="~/images/vps-menu.png" class="replace-2x" width="253" height="457" alt="">
            </div><!-- .promo-block -->
          </li>
        </ul><!-- .sub -->
      </li>
      <li class="parent megamenu">
        @Html.ActionLink("TÊN MIỀN", "Domain", "Home")
        <ul class="sub">
          <li class="sub-wrapper">
            <div class="sub-list">
              <div class="box">
                <ul>
                  <li>
                    <a href="@Url.Action("DomainRegister", "Service")"><i class="fa fa-plus-square"></i> Đăng ký tên miền</a>
                  </li>
                  <li>
                    <a href="@Url.Action("DomainTransfer", "Service")"><i class="fa fa-money"></i> Chuyển đổi nhà cung cấp</a>
                  </li>
                  <li>
                    <a href="@Url.Action("DomainCheck", "Service")"><i class="fa fa-twitter"></i> Kiểm tra Tên miền mới</a>
                  </li>
                  <li>
                    <a href="@Url.Action("DomainCheckList", "Service")"><i class="fa fa-arrows-h"></i> Kiểm tra nhiều tên miền</a>
                  </li>
                </ul>
              </div><!-- .box -->
              <div class="box">
                <ul>
                  <li>
                    <a href="@Url.Action("DomainPriceList", "Home")"><i class="fa fa-th-list"></i> Bảng giá tên miền</a>
                  </li>
                  <li>
                    <a href="@Url.Action("DomainAccount", "Service")"><i class="fa fa-user"></i> Bảo mật thông tin chủ thể</a>
                  </li>
                  <li>
                    <a href="@Url.Action("FreeDns", "Service")"><i class="fa fa-list-alt"></i> DNS miễn phí</a>
                  </li>
                  <li>
                    <a href="@Url.Action("ProDns", "Service")"><i class="fa fa-tasks"></i> DNS Pro</a>
                  </li>
                </ul>
              </div><!-- .box -->
            </div><!-- .sub-list -->

            <div class="promo-block bg">
              <img class="replace-2x" src="~/images/domain-menu.jpg" width="240" height="334" alt="">
            </div><!-- .promo-block -->
          </li>
        </ul>
      </li>
      <li class="item-info item-bg">
        @Html.ActionLink("ĐỐI TÁC", "Partner", "Home")
      </li>
      <li class="item-info item-bg">
        @Html.ActionLink("HỖ TRỢ", "Support", "Home")
      </li>
      <li class="item-info item-bg promo">
        <a href="@Url.Action("Promotion", "Home")">KHUYẾN MÃI<span class="item-new">Hot</span></a>
      </li>
      <li class="item-info item-bg">
        @Html.ActionLink("GIỚI THIỆU", "About", "Home")
      </li>
      <li class="item-info item-bg">
        @Html.ActionLink("LIÊN HỆ", "Contact", "Home")
      </li>
    </ul>
  </nav>
</div>