@using System.ComponentModel.DataAnnotations
@using System.Threading.Tasks
@using Tata.Areas.Backend.Helpers
@using Tata.Entities.Enums
@using Tata.Helpers
@model OrderDetailsViewModel

@{
    ViewData["Title"] = "Orders Details";
}

<div class="table-box">
  <table id="shopping-cart-table" class="shopping-cart-table table table-bordered table-striped">
    <thead>
    <tr>
      <th></th>
      <th class="td-name">Gói dịch vụ</th>
      <th class="td-price">Giá cơ bản</th>
      <th class="td-qty">Thời hạn (tháng)</th>
      <th class="td-total">Thành tiền</th>
      <th data-hide="phone">Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Order.OrderItems)
    {
      <tr id="orderItemWrapper_@(item.Id)">
        @Html.Partial("_OrderItem", item)
      </tr>
    }
    </tbody>
  </table><!-- .shopping-cart-table -->
</div>

<div id="car-bottom" class="row">
  <div class="col-sm-12 col-md-4">
  </div>

  <div class="col-sm-12 col-md-3">
    
  </div>

  <div class="col-sm-12 col-md-5">
    <div class="car-bottom-box bg total">
      <table>
        <tbody>
        <tr>
          <td>Tổng</td>
          <td><span class="price">@Model.Order.NetTotal.ToString("N0") @Model.Order.CurrencyName</span></td>
        </tr>
        <tr class="tr-total">
          <td>Tổng sau VAT</td>
          <td><span class="price">@Model.Order.GrossTotal.ToString("N0") @Model.Order.CurrencyName</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

@section Scripts {
  <script type="text/javascript">
    function UpdateOrderItemStatus(orderItemId, currentStatus, sendEmail) {
      var rq = { orderItemId: orderItemId, currentStatus: currentStatus };
      if (sendEmail) {
        var ipAddressFieldId = "#txtIpAddress_" + orderItemId;
        var usernameFieldId = "#txtUsername_" + orderItemId;
        var passwordFieldId = "#txtPassword_" + orderItemId;

        if ($(ipAddressFieldId)[0].checkValidity() === false ||
          $(usernameFieldId)[0].checkValidity() === false ||
          $(passwordFieldId)[0].checkValidity() === false) {
          $("#validationVps_" + orderItemId).removeClass("hidden");
          return;
        }

        var ipAddress = $(ipAddressFieldId).val();
        var username = $(usernameFieldId).val();
        var password = $(passwordFieldId).val();

        rq.vpsIpAddress = ipAddress;
        rq.vpsUsername = username;
        rq.vpsPassword = password;
      }

      $.ajax({
        type: 'POST',
        url: '@Url.Action("UpdateOrderItemStatus", "Order")',
        contentType: "application/json; charset=utf-8",
        dataType: "html",
        data: JSON.stringify(rq),
        success: function (resp) {
          $("#categoryModal_" + orderItemId).modal('toggle');
          $("#orderItemWrapper_" + orderItemId).html(resp);
        },
        error: function () { alert('Error happened'); }
      });
    }
</script>
}

