@model Tata.Models.ProductModels.ProductPropertyGroupModel

<input asp-for="Id" type="hidden" />
<input asp-for="Type" type="hidden" />
<div class="panel panel-default active">
  <div class="panel-heading">
    <div class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2@(Model.Id)">
        @Model.Name
      </a>
    </div>
  </div>
  <div id="collapse2@(Model.Id)" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="list-group">
        @foreach (var value in Model.Values)
        {
          <div class="list-group-item">
            <input asp-for="SelectedValue" type="radio" value="@value.Id"/>
            <h5 class="list-group-item-heading">@value.Name<span class="pull-right"><strong class="text-primary">@value.Price.ToString("N0") @value.Currency.ToString()</strong>/Tháng</span></h5>
            <p class="list-group-item-text">
              @value.Description
            </p>
          </div>
        }
      </div>
    </div>
  </div>
</div>

