@model ContactViewModel

@{
    ViewData["Title"] = "Liên hệ";
}
<header class="page-header">
    <div class="container">
        <h1 class="title">@ViewData["Title"]</h1>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="content col-sm-12 col-md-12">
            <div class="row">
                <div class="col-sm-6 col-md-6 contact-info bottom-padding">
                    <address>
                        <div class="title">Văn phòng</div>
                        @Html.Raw(Model.ContactAddress)
                    </address>
                    <div class="row">
                        <address class="col-sm-6 col-md-6">
                            <div class="title">Điện thoại liên hệ</div>
                            <div>Hỗ trợ kỹ thuật: @Model.ContactSupportTel</div>
                            <div>Tư vấn dịch vụ: @Model.ContactSalesTel</div>
                            <div>Đường dây nóng: @Model.ContactDirectorTel</div>
                        </address>
                        <address class="col-sm-6 col-md-6">
                            <div class="title">Email Addresses</div>
                            <div>Hỗ trợ kỹ thuật: <a href="@string.Format("mailto:{0}", Model.ContactSupportTel)">@Model.ContactSupportEmail</a></div>
                            <div>Tư vấn dịch vụ: <a href="@string.Format("mailto:{0}", Model.ContactSalesEmail)">@Model.ContactSalesEmail</a></div>
                            <div>Đường dây nóng: <a href="@string.Format("mailto:{0}", Model.ContactDirectorEmail)">@Model.ContactDirectorEmail</a></div>
                        </address>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 bottom-padding">
                    <form id="contactform" class="form-box register-form contact-form" method="POST">
                        <h3 class="title">Phản hồi nhanh</h3>
                        <div id="success"></div>
                        <label>Họ và tên: <span class="required">*</span></label>
                        <input class="form-control" type="text" name="name">
                        <label>Email Address: <span class="required">*</span></label>
                        <input class="form-control" type="email" name="email">
                        <label>Số điện thoại:</label>
                        <input class="form-control" type="text" name="phone">
                        <label>Nội dung:</label>
                        <textarea class="form-control" name="comment"></textarea>
                        <div class="clearfix"></div>
                        <div class="buttons-box clearfix">
                            <button id="submit" class="btn btn-default">Gửi</button>
                            <span class="required"><b>*</b> Required Field</span>
                        </div><!-- .buttons-box -->
                    </form>
                </div>
                <div class="map-box col-sm-12 col-md-12">
                    <div style="height: 276px;"
                         class="map-canvas"
                         data-zoom="6"
                         data-lat="@Model.ContactLatitude"
                         data-lng="@Model.ContactLongitude"
                         data-title="TaTa Hosting"
                         data-content="@string.Format("Hỗ trợ kỹ thuật: {0}<br>Tư vấn dịch vụ: {1}<br>Đừng dây nóng: {2}", Model.ContactSupportTel, Model.ContactSalesTel, Model.ContactDirectorTel)"></div>
                </div>
            </div>
        </div>
    </div>
</div>