@using Tata.Entities
@model List<Article>

@{
    ViewData["Title"] = "Chương trình khuyến mãi";
}
<header class="page-header">
    <div class="container">
        <h1 class="title">@ViewData["Title"]</h1>
</div>
</header>
<div class="container">
    <div class="row">
        <div class="content portfolio portfolio2 col-sm-12 col-md-12">
            <div class="clearfix"></div>
            <div class="row filter-elements">
                @foreach (var promotion in Model)
                {
                    <div class="web-design col-xs-12 col-sm-6 col-md-6">
                        <a href="@Url.Action("Article", "Home", new { id = promotion.Id })" class="work">
                            <img class="replace-2x" src="@promotion.FeatureImg" width="370" height="270" alt="">
                            <span class="shadow"></span>
                            <div class="bg-hover">@promotion.Content</div>
                            <div class="work-title">
                                <h3 class="title">@promotion.Title</h3>
                                <div class="description">@promotion.Excerpt</div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>