@using Tata.Entities
@model List<Setting>

@{
    ViewData["Title"] = "Hỗ trợ";
}
<header class="page-header">
    <div class="container">
        <h1 class="title">@ViewData["Title"]</h1>
    </div>
</header>
<div class="container">
    <div class="row">
        <article class="content col-sm-12 col-md-12">
            @{
                string headerContent = Model.SingleOrDefault(s => s.Name == "SupportHeader").Value;
            }
            @Html.Raw(headerContent)
            <br>
            <div class="clearfix"></div>

            <div class="filter-box accordions-filter">

                <div class="panel-group filter-elements" id="accordion">
                    @foreach (var support in Model)
                    {
                        @if (support.Name != "SupportHeader")
                        {
                            <div class="panel panel-default panel-bg web-design">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#@support.Id">
                                            @support.Name
                                        </a>
                                    </div>
                                </div>
                                <div id="@support.Id" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        @Html.Raw(support.Value)
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </article>
    </div>
</div><