@using System.Threading.Tasks
@using Tata.Areas.Backend.Helpers
<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
            <img alt="image" class="img-circle" src="~/backend/Images/profile_small.jpg" />
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">Troy Lee</strong>
              </span> <span class="text-muted text-xs block">Project Manager <b class="caret"></b></span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
            <li><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
            <li><a href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
            <li class="divider"></li>
            <li><a href="@Url.Action("Login", "Pages")">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          TaTa
        </div>
      </li>
      <li class="@Html.IsSelected(controller: "Product")">
        <a href="#"><i class="fa fa-product-hunt"></i> <span class="nav-label" data-i18n="nav.ecommerce">Product</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Product", cssClass: "in")">
          <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Product")">List</a></li>
        </ul>
      </li>
      <li class="@Html.IsSelected(controller: "Order")">
        <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label" data-i18n="nav.ecommerce">Order</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Order", cssClass: "in")">
          <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Order")">List</a></li>
        </ul>
      </li>
      <li class="@Html.IsSelected(controller: "Article")">
          <a href="#"><i class="fa fa-newspaper-o"></i> <span class="nav-label" data-i18n="nav.ecommerce">Articles</span><span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Article", cssClass: "in")">
              <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Article")">List</a></li>
          </ul>
      </li>
      <li class="@Html.IsSelected(controller: "Setting")">
        <a href="#"><i class="fa fa-gears"></i> <span class="nav-label" data-i18n="nav.ecommerce">Settings</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Setting", cssClass: "in")">
          <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Setting")">List</a></li>
        </ul>
      </li>
      <li class="@Html.IsSelected(controller: "Users")">
        <a href="#"><i class="fa fa-users"></i> <span class="nav-label" data-i18n="nav.ecommerce">Users</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Users", cssClass: "in")">
          <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Users")">List</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>