@model Tata.Models.PaymentModels.PaymentAccountViewModel

@{
    ViewBag.Title = "Đăng nhập tài khoản";
    Layout = "_Layout";
}


<header class="page-header">
  <div class="container">
    <h1 class="title">Đăng nhập tài khoản</h1>
  </div>
</header>

<div class="container page-login-promo">
  <div class="bottom-padding">
    <div class="row steps steps-apart">
      <div class="col-sm-3 col-md-3">
        <div class="step text-center border-error">
          <div class="step-wrapper">
            <span class="livicon" data-n="shopping-cart" data-s="62" data-c="#c10841" data-hc="#d70a49"></span>
            <div class="title-box text-center title-red">
              <h4 class="title">Kiểm tra giỏ hàng</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-3">
        <div class="step text-center border-info bg-info white">
          <div class="step-wrapper">
            <span class="livicon" data-n="user" data-c="#fff" data-s="64" data-hc="#fff"></span>
            <div class="title-box text-center title-white">
              <h4 class="title">Đăng nhập tài khoản</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-3">
        <div class="step text-center border-error text-error">
          <div class="step-wrapper">
            <span class="livicon" data-n="credit-card" data-s="62" data-c="#c10841" data-hc="#d70a49"></span>
            <div class="title-box text-center title-red">
              <h4 class="title">Thanh toán</h4>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-3 col-md-3">
        <div class="step text-center border-error text-error">
          <div class="step-wrapper">
            <span class="livicon" data-n="check" data-s="62" data-c="#c10841" data-hc="#d70a49"></span>
            <div class="title-box text-center title-red">
              <h4 class="title">Hoàn tất</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="car-bottom" class="col-sm-12 col-md-4">
      <div class="car-bottom-box bg total">
        <p class="text-left no-margin">Mã đơn hàng</p>
        <h5 class="text-left text-error">TT5627HCM</h5>
        <table class="col-sm-12">
          <tbody>
            <tr>
              <td class="text-left">Tổng tiền</td>
              <td><span class="price">@Model.NetTotal.ToString("N0") @Model.Currency.ToString()</span></td>
            </tr>
            <tr>
              <td class="text-left">VAT</td>
              <td><span class="price">@Model.Vat.ToString("N0") @Model.Currency.ToString()</span></td>
            </tr>
            <tr class="tr-total">
              <td class="text-left">Thành tiền</td>
              <td><span class="price text-error">@Model.GrossTotal.ToString("N0") @Model.Currency.ToString()</span></td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 login-register">
      <div data-appear-animation="bounceInDown">
        <div class="rotation">
          <div class="front-end">
            <div class="form-content vertical-align-top">
              <form class="form-box login-form form-validator">
                <h3 class="title">Sign In <small>or <a href="#" class="switch-form sing-up">Sign Up</a></small></h3>
                <p>If you have an account with us, please log in.</p>

                <div class="form-group">
                  <label>Email Address <span class="required">*</span></label>
                  <input class="form-control" type="email" id="Login_Email" required>
                </div>

                <div class="form-group">
                  <label>Password: <span class="required">*</span></label>
                  <input class="form-control" type="password" id="Login_Password" required>
                </div>

                <div class="buttons-box clearfix">
                  <button id="btnLogin" class="btn btn-default">Login</button>
                  <button type="button" class="btn btn-info"><i class="fa fa-twitter"></i> Login with Twitter</button>
                  <a href="#" class="switch-form forgot">Forgot Your Password?</a>
                  <span class="required"><b>*</b> Required Field</span>
                </div>
              </form><!-- .form-box -->
            </div>
          </div><!-- .front-end -->

          <div class="back-end">
            <div class="form-content vertical-align-top">
              <form class="form-box register-form form-validator">
                <h3 class="title">Sign Up <small>or <a href="#" class="switch-form sing-in">Sign In</a></small></h3>
                <p>If you have an account with us, please log in.</p>

                <div class="form-group">
                  <label>Full name: <span class="required">*</span></label>
                  <input class="form-control" type="text" id="Register_FullName" required>
                </div>     

                <div class="form-group">
                  <label>Username: <span class="required">*</span></label>
                  <input class="form-control" type="text" id="Register_Username" required>
                </div>

                <div class="form-group">
                  <label>Password: <span class="required">*</span></label>
                  <input class="form-control" type="password" id="Register_Password" required>
                </div>
              
                <div class="form-group">
                  <label>Confirm Password: <span class="required">*</span></label>
                  <input class="form-control" type="password" id="Register_ConfirmPassword" required>
                </div>

                <div class="form-group">
                  <label>Email Address <span class="required">*</span></label>
                  <input class="form-control" type="email" id="Register_Email" required>
                </div>
              
                <div class="form-group">
                  <label>Address <span class="required">*</span></label>
                  <input class="form-control" type="email" id="Register_Address" required>
                </div>
              
                <div class="form-group">
                  <label>Phone Number <span class="required">*</span></label>
                  <input class="form-control" type="email" id="Register_PhoneNumber" required>
                </div>

                <div class="buttons-box clearfix">
                  <button id="btnRegister" class="btn btn-default">Create my account</button>
                  <span class="required"><b>*</b> Required Field</span>
                </div>
              </form><!-- .form-box -->
            </div>
          </div><!-- .back-end -->

          <div class="back-end">
            <div class="form-content vertical-align-top">
              <form class="form-box forgot-form form-validator">
                <h3 class="title">Retrieve your password here</h3>
                <p>Please enter your email address below. You will receive a link to reset your password.</p>

                <div class="form-group">
                  <label>Email Address <span class="required">*</span></label>
                  <input class="form-control" type="email" name="Email Register" required>
                </div>

                <div class="buttons-box clearfix">
                  <button class="btn btn-default">Submit</button>
                  <button class="btn btn-border btn-inverse switch-form sing-in"><i class="fa fa-long-arrow-left"></i> Back to Login</button>
                  <span class="required"><b>*</b> Required Field</span>
                </div>
              </form><!-- .form-box -->
            </div>
          </div><!-- .back-end -->
        </div>
      </div>
    </div>
  </div>
</div>

@section scripts
{
  <script>
    $(document).ready(function () {
      $('#btnLogin').click(function (e) {
        var email = $('#Login_Email').val();
        var password = $('#Login_Password').val();

        $.ajax({
          url: '@Url.Action("Login", "Payment")',
          type: "POST",
          data: { email: email, password: password },
          success: function (response) {
            debugger;
            if (!response.success) {
              alert(response.error);
            } else {
              window.location.href = "/Payment/Selection";
            }
          },
          error: function (xhr) {
            alert(xhr.responseText);
          }
        });
      });

      $('#btnRegister').click(function (e) {
        var email = $('#Register_Email').val();
        var password = $('#Register_Password').val();
        var fullName = $('#Register_FullName').val();
        var username = $('#Register_Username').val();
        var address = $('#Register_Address').val();
        var phoneNumber = $('#Register_PhoneNumber').val();
        var confirmPassword = $('#Register_ConfirmPassword').val();

        var data = {
          email: email,
          password: password,
          fullName: fullName,
          username: username,
          address: address,
          phoneNumber: phoneNumber,
          confirmPassword: confirmPassword
        };

        $.ajax({
          url: '@Url.Action("Register", "Payment")',
          type: "POST",
          data: data,
          success: function (response) {
            if (!response.success) {
              alert(response.error);
            } else {
              window.location.href = "/Payment/Selection";
            }
          },
          error: function (xhr) {
            alert(xhr.responseText);
          }
        });
      });
    });
  </script>
}
