@model Tata.Models.PaymentModels.PaymentAccountViewModel

@{
    ViewBag.Title = "Đăng nhập tài khoản";
    Layout = "_Layout";
}


<header class="page-header">
  <div class="container">
    <h1 class="title">Đăng nhập tài khoản</h1>
  </div>
</header>

<div class="container page-login-promo">
  <div class="bottom-padding">
    <div class="row steps steps-apart">
      <div class="col-sm-3 col-md-3">
        <div class="step text-center border-error">
          <div class="step-wrapper">
            <span class="livicon" data-n="shopping-cart" data-s="62" data-c="#c10841" data-hc="#d70a49"></span>
            <div class="title-box text-center title-red">
              <h4 class="title">Kiểm tra giỏ hàng</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-3">
        <div class="step text-center border-info bg-info white">
          <div class="step-wrapper">
            <span class="livicon" data-n="user" data-c="#fff" data-s="64" data-hc="#fff"></span>
            <div class="title-box text-center title-white">
              <h4 class="title">Đăng nhập tài khoản</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-3">
        <div class="step text-center border-error text-error">
          <div class="step-wrapper">
            <span class="livicon" data-n="credit-card" data-s="62" data-c="#c10841" data-hc="#d70a49"></span>
            <div class="title-box text-center title-red">
              <h4 class="title">Thanh toán</h4>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-3 col-md-3">
        <div class="step text-center border-error text-error">
          <div class="step-wrapper">
            <span class="livicon" data-n="check" data-s="62" data-c="#c10841" data-hc="#d70a49"></span>
            <div class="title-box text-center title-red">
              <h4 class="title">Hoàn tất</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="car-bottom" class="col-sm-12 col-md-4">
      <div class="car-bottom-box bg total">
        <p class="text-left no-margin">Mã đơn hàng</p>
        <h5 class="text-left text-error">@Model.OrderCode</h5>
        <table class="col-sm-12">
          <tbody>
            <tr>
              <td class="text-left">Tổng tiền</td>
              <td><span class="price">@Model.NetTotal.ToString("N0") @Model.CurrencyName</span></td>
            </tr>
            <tr>
              <td class="text-left">VAT</td>
              <td><span class="price">@Model.Vat.ToString("N0") @Model.CurrencyName</span></td>
            </tr>
            <tr class="tr-total">
              <td class="text-left">Thành tiền</td>
              <td><span class="price text-error">@Model.GrossTotal.ToString("N0") @Model.CurrencyName</span></td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="col-sm-12 col-md-8 login-register">
      <div data-appear-animation="bounceInDown">
        <div class="rotation">
          <div class="front-end">
            <div class="form-content vertical-align-top">
              <form class="form-box login-form form-validator">
                <h3 class="title">Đăng nhập <small>hoặc <a href="#" class="switch-form sing-up">Đăng ký</a></small></h3>

                @if (User.Identity.IsAuthenticated)
                {
                    <p>Bạn đang đăng nhập với tài khoản <strong class="text-danger">@Model.LoggedInEmail</strong></p>
                    <button id="btnNext" class="btn btn-default">Tiếp tục</button>
                    <a id="btnChangeLogin" href="#">Bạn có muốn dùng tài khoản khác?</a>
                }
                else
                {
                    <p>Nếu bạn đã có tài khoản, vui lòng đăng nhập.</p>
                }

                <div id="frmLogin" class="@(User.Identity.IsAuthenticated ? "hidden" : "")">
                  <div class="form-group">
                    <label>Email: <span class="required">*</span></label>
                    <input class="form-control" type="email" id="Login_Email" required>
                  </div>

                  <div class="form-group">
                    <label>Mật khẩu: <span class="required">*</span></label>
                    <input class="form-control" type="password" id="Login_Password" required>
                  </div>

                  <div class="buttons-box clearfix">
                    <button id="btnLogin" class="btn btn-default">Đăng nhập</button>
                    <button type="button" class="btn btn-primary"><i class="fa fa-facebook"></i> Facebook</button>
                    <button type="button" class="btn btn-red"><i class="fa fa-google"></i> Google</button>
                    <a href="#" class="switch-form forgot">Quên mật khẩu?</a>
                    <span class="required"><b>*</b> Không được trống</span>
                  </div>
                </div>
              </form><!-- .form-box -->
            </div>
          </div><!-- .front-end -->

          <div class="back-end">
            <div class="form-content vertical-align-top">
              <form class="form-box register-form form-validator">
                <h3 class="title">Đăng ký <small>hoặc <a href="#" class="switch-form sing-in">Đăng nhập</a></small></h3>
                <p>Nếu bạn đã có tài khoản, vui lòng đăng nhập.</p>

                <div class="row">
                  <div class="form-group col-md-12">
                    <label class="radio-inline">
                      <input type="radio" name="Register_Gender" id="Register_Gender_Male" value="0"> Ông
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="Register_Gender" id="Register_Gender_Female" value="1"> Bà
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-12">
                    <label>Họ và tên: <span class="required">*</span></label>
                    <input class="form-control" type="text" id="Register_FullName" required>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-4">
                    <label>Tên đăng nhập: <span class="required">*</span></label>
                    <input class="form-control" type="text" id="Register_Username" required>
                  </div>

                  <div class="form-group col-md-4">
                    <label>Mật khẩu: <span class="required">*</span></label>
                    <input class="form-control" type="password" id="Register_Password" required>
                  </div>

                  <div class="form-group col-md-4">
                    <label>Nhập lại mật khẩu: <span class="required">*</span></label>
                    <input class="form-control" type="password" id="Register_ConfirmPassword" required>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Email: <span class="required">*</span></label>
                    <input class="form-control" type="email" id="Register_Email" required>
                  </div>

                  <div class="form-group col-md-6">
                    <label>Số điện thoại: <span class="required">*</span></label>
                    <input class="form-control" type="text" id="Register_PhoneNumber" required>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-12">
                    <label>Tổ chức (Bỏ trống nếu là cá nhân): </label>
                    <input class="form-control" type="text" id="Register_Organization">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-12">
                    <label>Địa chỉ: <span class="required">*</span></label>
                    <input class="form-control" type="email" id="Register_Address" required>
                  </div>
                </div>

                <div class="buttons-box clearfix">
                  <button id="btnRegister" class="btn btn-default">Đăng ký</button>
                  <span class="required"><b>*</b> Không được trống</span>
                </div>
              </form><!-- .form-box -->
            </div>
          </div><!-- .back-end -->

          <div class="back-end">
            <div class="form-content vertical-align-top">
              <form class="form-box forgot-form form-validator">
                <h3 class="title">Retrieve your password here</h3>
                <p>Please enter your email address below. You will receive a link to reset your password.</p>

                <div class="form-group">
                  <label>Email Address <span class="required">*</span></label>
                  <input class="form-control" type="email" name="Email Register" required>
                </div>

                <div class="buttons-box clearfix">
                  <button class="btn btn-default">Submit</button>
                  <button class="btn btn-border btn-inverse switch-form sing-in"><i class="fa fa-long-arrow-left"></i> Back to Login</button>
                  <span class="required"><b>*</b> Required Field</span>
                </div>
              </form><!-- .form-box -->
            </div>
          </div><!-- .back-end -->
        </div>
      </div>
    </div>
  </div>
</div>

@section scripts
{
  <script>
    $(document).ready(function () {

      $('#btnNext').click(function (e) {
        window.location.href = "/Payment/Selection";
      });

      $('#btnChangeLogin').click(function (e) {
        $('#frmLogin').removeClass("hidden");
        $(this).addClass("hidden");
      });

      $('#btnLogin').click(function (e) {
        var email = $('#Login_Email').val();
        var password = $('#Login_Password').val();

        $.ajax({
          url: '@Url.Action("Login", "Payment")',
          type: "POST",
          data: { email: email, password: password },
          success: function (response) {
            if (!response.success) {
              alert(response.error);
            } else {
              window.location.href = "/Payment/Selection";
            }
          },
          error: function (xhr) {
            alert(xhr.responseText);
          }
        });
      });

      $('#btnRegister').click(function (e) {
        var email = $('#Register_Email').val();
        var password = $('#Register_Password').val();
        var fullName = $('#Register_FullName').val();
        var username = $('#Register_Username').val();
        var address = $('#Register_Address').val();
        var phoneNumber = $('#Register_PhoneNumber').val();
        var confirmPassword = $('#Register_ConfirmPassword').val();
        var gender = $("input[name='Register_Gender']:checked").val();
        var organization = $('#Register_Organization').val();

        var data = {
          email: email,
          password: password,
          fullName: fullName,
          username: username,
          address: address,
          phoneNumber: phoneNumber,
          confirmPassword: confirmPassword,
          gender: gender,
          organization: organization
        };

        $.ajax({
          url: '@Url.Action("Register", "Account")',
          type: "POST",
          data: data,
          success: function (response) {
            if (!response.success) {
              alert(response.error);
            } else {
              window.location.href = "/Payment/Selection";
            }
          },
          error: function (xhr) {
            alert(xhr.responseText);
          }
        });
      });
    });
  </script>
}
