@model Tata.Models.PaymentModels.PaymentCartViewModel

@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "_Layout";
}


<header class="page-header">
  <div class="container">
    <h1 class="title">Kiểm tra giỏ hàng</h1>
  </div>
</header>

<div class="container">
  <div class="bottom-padding">
    <div class="row steps steps-apart">
      <div class="col-sm-3 col-md-3">
        <div class="step text-center border-info bg-info white">
          <div class="step-wrapper">
            <span class="livicon" data-n="shopping-cart" data-c="#fff" data-s="64" data-hc="#fff"></span>
            <div class="title-box text-center title-white">
              <h4 class="title">Kiểm tra giỏ hàng</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-3">
        <div class="step text-center border-error">
          <div class="step-wrapper">
            <span class="livicon" data-n="user" data-s="62" data-c="#c10841" data-hc="#d70a49"></span>
            <div class="title-box text-center title-red">
              <h4 class="title">Đăng nhập tài khoản</h4>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-3 col-md-3">
        <div class="step text-center border-error text-error">
          <div class="step-wrapper">
            <span class="livicon" data-n="credit-card" data-s="62" data-c="#c10841" data-hc="#d70a49"></span>
            <div class="title-box text-center title-red">
              <h4 class="title">Thanh toán</h4>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-3 col-md-3">
        <div class="step text-center border-error text-error">
          <div class="step-wrapper">
            <span class="livicon" data-n="check" data-s="62" data-c="#c10841" data-hc="#d70a49"></span>
            <div class="title-box text-center title-red">
              <h4 class="title">Hoàn tất</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <article class="content col-sm-12 col-md-12">
      <div class="table-box">
        <table id="shopping-cart-table" class="shopping-cart-table table table-bordered table-striped">
          <thead>
            <tr>
              <th></th>
              <th class="td-name">Gói dịch vụ</th>
              <th></th>
              <th class="td-price">Giá cơ bản</th>
              <th class="td-qty">Thời hạn (tháng)</th>
              <th class="td-total">Thành tiền</th>
              <th class="td-remove"></th>
            </tr>
          </thead>
          <tbody>
          @foreach (var item in Model.Items)
          {
              <tr>
                <td class="td-images">
                  <a href="shop-product-view.html" class="product-image">
                    <img class="replace-2x" src="content/img/product-1.jpg" alt="" title="" width="70" height="70">
                  </a>
                </td>
                <td class="td-name">
                  <p class="product-name">
                    <strong>@item.Name</strong>
                  </p>
                  @foreach (var subItem in item.SubItems)
                  {
                    <p>- @subItem.Description</p>
                  }
                </td>
                <td class="td-edit">
                  <a href="@Url.Action("Vps", "ConfigureProduct", new { productId = item.ProductId })" class="edit"><i class="fa fa-pencil"></i> Edit</a>
                </td>
                <td class="td-price">
                  <div class="price">@item.Price.Price.ToString("N0")</div>
                </td>
                <td class="td-qty">
                  <input class="form-control" type="text" value="@item.Quantity" data-product-id="@item.ProductId">
                </td>
                <td class="td-total">
                  <div class="price">@((item.Price.Price * item.Quantity).ToString("N0"))</div>
                  <br/>
                  @foreach (var subItem in item.SubItems)
                  {
                      <p>@subItem.Price.Price.ToString("N0")</p>
                  }
                </td>
                <td class="td-remove">
                  <a href="#" class="product-remove">
                    <svg x="0" y="0" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                    <g>
                    <path fill="#7f7f7f" d="M6,13c0.553,0,1-0.447,1-1V7c0-0.553-0.447-1-1-1S5,6.447,5,7v5C5,12.553,5.447,13,6,13z"></path>
                    <path fill="#7f7f7f" d="M10,13c0.553,0,1-0.447,1-1V7c0-0.553-0.447-1-1-1S9,6.447,9,7v5C9,12.553,9.447,13,10,13z"></path>
                    <path fill="#7f7f7f" d="M14,3h-1V1c0-0.552-0.447-1-1-1H4C3.448,0,3,0.448,3,1v2H2C1.447,3,1,3.447,1,4s0.447,1,1,1
						c0,0.273,0,8.727,0,9c0,1.104,0.896,2,2,2h8c1.104,0,2-0.896,2-2c0-0.273,0-8.727,0-9c0.553,0,1-0.447,1-1S14.553,3,14,3z M5,2h6v1
						H5V2z M12,14H4V5h8V14z"></path>
                  </g>
                </svg>
                  </a><!-- .product-remove -->
                </td>
              </tr>
          }
          </tbody>
        </table><!-- .shopping-cart-table -->
      </div>
      <table class="shopping-cart-table shopping-cart-table-button table">
        <tbody>
          <tr>
            <td class="action no-border">
              <a href="@Url.Action("Index", "Home")"><i class="fa fa-angle-left"></i> Tiếp tục mua</a>
              <a href="#" class="update"><i class="fa fa-rotate-right"></i> Cập nhật giỏ hàng</a>
            </td>
          </tr>
        </tbody>
      </table>

      <div id="car-bottom" class="row">
        <div class="col-sm-12 col-md-4">
        </div>

        <div class="col-sm-12 col-md-4">
          <div class="car-bottom-box bg">
            <h5>Mã giảm giá</h5>
            <p>Nhập mã giảm giá nếu có</p>
            <input class="form-control" type="text" placeholder="Chúng tôi đang cập nhật chương trình này">
            <button class="btn btn-default">Sử dụng</button>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <div class="car-bottom-box bg total">
            <table>
              <tbody>
                <tr>
                  <td>Tổng</td>
                  <td><span class="price">@Model.NetTotal.ToString("N0") @Model.CurrencyName</span></td>
                </tr>
                <tr>
                  <td>VAT (10%)</td>
                  <td><span class="price">@Model.Vat.ToString("N0") @Model.CurrencyName</span></td>
                </tr>
                <tr class="tr-total">
                  <td>Tổng sau VAT</td>
                  <td><span class="price">@Model.GrossTotal.ToString("N0") @Model.CurrencyName</span></td>
                </tr>
              </tbody>
            </table>
            <div>
              <a href="@Url.Action("Account", "Payment")" class="btn checkout btn-default btn-lg">Thanh toán</a>
            </div>
            <p class="multiple no-border">Thanh toán với đa dạng cách thức</p>
          </div>
        </div>
      </div>
    </article><!-- .content -->
  </div>
</div>

@section scripts
{
  <script>
  $(document)
    .ready(function() {
      $('.update-cart')
        .click(function (e) {
          var data = '';
          $('input[data-product-id]')
            .each(function(index, item) {
              var productId = parseInt($(item).attr('data-product-id'));
              var quantity = $(item).val();

              data += productId + '|' + quantity + ';';
            });

          $.ajax({
            url: '@Url.Action("UpdateCart", "Payment")',
            type: "GET",
            data: { data: data },
            success: function(data) {
              // here comes your response after calling the server
              $('#cart_items_wrapper').html(data);
            },
            error: function(obj) {
              alert('Something happened');
            }
          });
        });
      });
  </script>
}