@using System.Threading.Tasks
@using Tata.Areas.Backend.Helpers
@using Tata.Entities.Enums
@model IEnumerable<Tata.Models.ProductModels.ProductModel>

@{
    ViewData["Title"] = "Products List";
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Product list</h2>
    <ol class="breadcrumb">
      <li>
        <a href="@Url.Action("Index", "Product")">Home</a>
      </li>
      <li>
        <a>Product</a>
      </li>
      <li class="active">
        <strong>List</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-heading">
          <a class="btn btn-primary col-lg-12 m-b-sm" href="@Url.Action("Details", "Product", new {id = 0, categoryId=1})">Add new product</a>
        </div>
        <div class="ibox-content">

          <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="10" data-paging="true" data-filtering="true" data-sorting="true">
            <thead>
              <tr>
                <th data-toggle="true">Product Name</th>
                <th data-hide="phone">Category</th>
                <th data-hide="all">Description</th>
                <th data-hide="phone">Status</th>
                <th class="text-right" data-sort-ignore="true">Action</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var model in Model)
              {
                  <tr>
                    <td>
                      @(model.Name)
                    </td>
                    <td>
                      @(model.Category.Name)
                    </td>
                    <td>
                      @(model.Description)
                    </td>
                    <td>
                      <span class="label label-@Html.GetStatusClass(model.Status.ToString())">@(model.Status.ToString())</span>
                    </td>
                    <td class="text-right">
                      <div class="btn-group">
                        <a class="btn-white btn btn-xs" href="@Url.Action("Details", "Product", new {id = @model.Id})">View</a>
                        <a class="btn-white btn btn-xs" href="@Url.Action("Details", "Product", new {id = @model.Id})">Edit</a>
                        <a class="btn-white btn btn-xs" href="@Url.Action("Delete", "Product", new {id = @model.Id})">Delete</a>
                      </div>
                    </td>
                  </tr>
              }
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  <ul class="pagination pull-right"></ul>
                </td>
              </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>
  </div>


</div>

@section Styles {
  
  @*<environment names="Development">
      <link rel="stylesheet" href="~/lib/footable/css/footable.core.css" />
    </environment>
    <environment names="Staging,Production">
      <link rel="stylesheet" href="~/lib/footable/css/footable.core.min.css" />
    </environment>*@
}

@section Scripts {
  
  @*<environment names="Development,Staging,Production">
      <script src="~/lib/footable/dist/footable.all.min.js"></script>
    </environment>*@

  <script type="text/javascript">
    $(document).ready(function () {

      $('.footable').footable();

    });
  </script>
}

